@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Link {
  color: #d4e2dbaf;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;

  margin: 0.8em;
}

.Link:hover {
  color: #d4e2dbd3;
}

.Link:active {
  color: #F5F5F5;
}

#avatar {
  border: 0.7rem solid #d4e2db6c;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}